h1{
    color: #808080;
}


/* Override des classes Bootstrap pour modifier la couleur des switches */

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230388A6'/%3e%3c/svg%3e");
  }
  
  .form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
 
  .form-check-input:checked {
    background-color: #0388A6;
    border-color: #0388A6;
  }