/* Mise en forme de l'application hors Bootstrap */

h1 {
  color: #808080;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Ré-écriture de classes Bootstrap */

input[readonly], .form-control[readonly] {
  background-color: #fff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #212529;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-item {
  font-size: 1.05em;
  font-family: 'Open Sans', sans-serif;
}

/* Masque des colonnes des tableaux historique si l'utilisateur est en mode portrait sur un smartphone */

@media (min-width: 320px)
  and (max-width: 812px)
  and (orientation: portrait) {
  .records_log_comment,
  .records_log_last_modification {
    display: none;
  }

  .navbar-div {
    flex-direction: row !important;
  }

  .navbar-div i {
    margin-right: 2em;
  }

}