h1 {
  color: #808080;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none;
}

input[readonly], .form-control[readonly] {
  background-color: #fff;
}

/* Override des classes Bootstrap pour modifier la couleur des onglets historique */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #212529;
  border-color: #dee2e6 #dee2e6 #fff;
}

/* Masquer des colonnes des tableaux historique si l'utilisateur est en mode portrait sur un smartphone */

@media (min-width: 320px)
  and (max-width: 812px)
  and (orientation: portrait) {
  .records_log_comment,
  .records_log_last_modification {
    display: none;
  }
}