/* Mise en forme de l'application hors Bootstrap */

input[type="submit"] {
  background-color: #C63527;
  border-color: #C63527;
}

input[type="reset"] {
  background-color: #CDCCCC;
  border-color: #CDCCCC;
}

/* Ré-écriture de classes Bootstrap */

input[readonly], .form-control[readonly] {
  background-color: #fff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #C63527;
  border-color: #dee2e6 #dee2e6 #fff;
}

#navbarContent > * > * > div > a.active {
  color: #C63527;
}

.bg-dark {
  background-color:#000000!important;
}

.nav-item {
  font-size: 1.05em;
}

*[class="input-group-text"] {
  background-color: #323233;
  color: #fff;
}

.form-check-input:checked {
  background-color: #c63527;
  border-color: #c63527;
}

.form-control:focus,
.form-select:focus,
.dropdown-item:focus,
.form-check-input:focus {
  border-color: #c63527;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c63527;
}

.dropdown-item:active {
  background-color: #C63527;
}
/* Masque des colonnes des tableaux historique si l'utilisateur est en mode portrait sur un smartphone */

@media (min-width: 320px)
  and (max-width: 812px)
  and (orientation: portrait) {
  .records_log_comment,
  .records_log_last_modification {
    display: none;
  }

  .navbar-div {
    flex-direction: row !important;
  }

  .navbar-div i {
    margin-right: 2em;
  }

}